*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background: #000000;
    --primary-color: #151515;
    --secondary-color: #BC8CF2;
    --action-color: #AA14F0;
    --text-color: #F1E8E6;
}

.container{
    max-width: 1500px;
    width: 90%;
}

header{
    background: var(--background);
    display: flex;
    justify-content: center;
    height: 50px;
}

header .logo{
    color: var(--action-color);
}

header .logo-container{
    padding: 15px 0px 15px 0px;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.hamburger{
    padding: 15px 0px 15px 0px;
    z-index: 9999;
}

.hamburger .bar{
    background: var(--text-color);
    width: 25px;
    height: 3px;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
}

nav{
    position: fixed;
    height: 100%;
    width: 60%;
    right: 0;
    background:var(--background);
    display: flex;
    justify-content: center;
    box-shadow: 10px 0px 50px var(--secondary-color);
    transition: transform .5s ease-in-out;
}
nav li a{
    text-decoration: none;
    color: var(--text-color);
}

nav li{
    list-style: none;
}

nav ul{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

nav.hidden{
    transform: translate(150%);
}

.hamburger.effect .bar:nth-child(1){
    transform: rotate(45deg) translate(3px, 3px);
}
.hamburger.effect .bar:nth-child(2){
    display: none;
}
.hamburger.effect .bar:nth-child(3){
    transform: rotate(45deg) translate(3px, 3px);
}

